body {
    margin: 0;
    padding: 0;    
}

img {
    border: none;
}

div.topo {
    background-color: #FFC;
    padding: 5px;
}

div.miolo {
    padding: 20px;
}

h1 {
    color: #720;
}

div.alerta {
    margin: 10px;
    background-color: #ff0;
}

h3, dt {
    font-family: sans-serif;
    font-size: 11pt;
    font-weight: bold;
}