<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <title>Divina Pizza</title>
    <link href='/static/master.css' rel='stylesheet' type='text/css' />
    <link rel="shortcut icon" type="image/vnd.microsoft.icon"
        href="/static/pizza.ico" />
</head>
<body>
    <div class="topo">
        <h1><a href="/"><img src="/static/pizza160x120.png"
            title="Divina Pizza" width="160" height="120" /></a>Divina Pizza</h1>
    </div>
    <div class="corpo">
        Sempre a melhor redonda!
    </div>
</body>
</html>
