<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <title>{% block title %}Divina Pizza{% endblock %}</title>
    <link href="/static/master.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/vnd.microsoft.icon"
        href="/static/pizza.ico" />
    {% block javascript %}{% endblock %}
</head>
<body>
{% block body %}
    <div class="topo">
        <h1><a href="/"><img src="/static/pizza140x70.png"
            title="Divina Pizza" width="140" height="70" /></a>Divina Pizza</h1>
    </div>
    <div class="miolo">
        <h2>{% block titulo %}Sempre a melhor redonda!{% endblock %}</h2>
        {% block miolo %}
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cras
            mauris arcu, fringilla in, malesuada vel, aliquet eu, justo.
            Praesent blandit commodo pede. Nullam eget eros quis erat luctus
            imperdiet. Etiam convallis eros sed enim. Fusce tristique eros vel
            dui. Quisque pulvinar, orci non ullamcorper dapibus, eros nulla
            rhoncus justo, eu pellentesque diam urna in orci. Curabitur tellus
            lorem, interdum sed, adipiscing vitae, semper ac, tortor. In
            viverra. Pellentesque et sapien in mauris tristique volutpat. In
            vestibulum ipsum quis nisi. 
        {% endblock %}
    </div>
{% endblock %}
</body>
</html>
